*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    background: url("header-image.png");

    width: 100%;
    height: 110vh;
    background-position: center;
    background-size: cover;


}
.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.979),rgba(12, 12, 12, 0));

    justify-content: space-between;
    align-items: center;
    
   
    
}
.logo{
    width: 150px;
    margin-left: 100%;
    
}
.menu{
    margin-right: 12%;
}
.btn{
    width: 100px;
    padding: 10px 0px;
    margin-right: 20px;
    border-radius: 5px;
}
.down{
    width: 10px;
    margin-left: 30px;
    justify-content: end;
}
.btn1{
    width: 130px;
    background: transparent;
    
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.733);
    font-weight: bolder;
    margin-bottom: 10px;
    
}
.btn2{
    background-color: rgb(236, 16, 16);
    color: white;
    font-size: 15px;
}
.content{
    width: 100%;
    height: 390px;
    background: linear-gradient(rgba(0, 0, 0, 0.048),rgba(0, 0, 0, 0.863));
    text-align: center;
    color: white;
    margin-top: 200px;
    line-height: 2;
   
}
.heading{
    font-size: 50px;
}
.para{
    font-size: 30px;
}
.para1{
    font-size: 24px;
}
.cont{
    width: 350px;
    padding: 15px 20px;
    border-radius:5px ;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.589);
    color: white;
    margin-right: 30px;
    font-size: 15px;
    font-weight: bolder;
}
.btn3{
    width: 200px;
    padding: 10px 10px;
    border-radius:5px ;
    font-size: 20px;
    background-color: rgb(201, 34, 34);
    color: white;
}


hr{
    height: 10px;
    background-color:rgb(56, 54, 54);
    border: none;
}
.card{
    background-color: black;
    display: flex;
  
    align-items: center;
    justify-content: center;
    padding: 10px 8%;
   
}
.img{
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.context{
    color: white;
    align-content: center;
    
   
}
.context h2{
    font-size: 50px;
    margin-bottom: 10px;
}
.context p{
    font-size: 30px;
}
.contents{
    width: 100%;
    height: 290px;
    background: black;
    text-align: left;
    color: white;
    padding-top: 50px;
    padding-left: 12%;
    
}
.conts{
    margin-top: 30px;
    
}
.conta{
    width: 350px;
    padding: 15px 20px;
    border-radius:5px ;
    background: rgba(109, 98, 98, 0.233);
    border: 1px solid rgba(255, 255, 255, 0.589);
    color: white;
    margin-right: 10px;
    font-size: 15px;
    font-weight: bolder;
    width: 700px;
    
    
}
.contents p{
    font-weight: bolder;
    margin-top: 30px;
}
.footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-left: 6%;
    padding-right: 9%;
    padding-bottom: 20px;
    

    

}
.footer ul {
    list-style:none;
}
.footer ul li{
    line-height: 2;
}
.name{
    background-color: black;
    padding-bottom:40px ;
    color: white;
    padding-left:12% ;

}
.footer ul li a{
    color: white;
}
.name p{
    margin-top: 10px;
}